# Ignore OSX temp files
*~*
.DS_Store
*.m~


# Ignore test datasets
*.mat
*.aux
*.log
*.out
*.exe
*.txt
*.vcf
*.xls
*.xlsx
*.csv


# Ignore test image sets
*.png
*.tif
*.tiff
*.jpg
*.bmp
*.gif


# Ignore some test folders
archive
data
